trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

variables:
  azureServiceConnection: 'azure-connection'
  appName: 'app-cicd-demo-santinoaa'  # ← cambiá esto por el nombre exacto de tu App Service

stages:
  - stage: Build
    displayName: 'Build'
    jobs:
      - job: BuildJob
        displayName: 'Install & Test'
        steps:
          - task: UsePythonVersion@0
            inputs:
              versionSpec: '3.11'
            displayName: 'Usar Python 3.11'

          - script: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: 'Instalar dependencias'

          - task: ArchiveFiles@2
            inputs:
              rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/app.zip'
              replaceExistingArchive: true
            displayName: 'Empaquetar app'

          - publish: '$(Build.ArtifactStagingDirectory)/app.zip'
            artifact: drop
            displayName: 'Publicar artefacto'

  - stage: Deploy
    displayName: 'Deploy'
    dependsOn: Build
    jobs:
      - deployment: DeployJob
        displayName: 'Deploy a App Service'
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: '$(azureServiceConnection)'
                    appType: 'webAppLinux'
                    appName: '$(appName)'
                    package: '$(Pipeline.Workspace)/drop/app.zip'
                    startUpCommand: 'gunicorn --bind=0.0.0.0:8000 myapp.wsgi'
                  displayName: 'Deploy a Azure App Service'