name: Build and Deploy to Azure

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Empaquetar app
        run: zip -r app.zip . --exclude "*.git*" --exclude "venv/*"

      - name: Subir artefacto
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Descargar artefacto
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Deploy a Azure App Service
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'app-cicd-demo-santinoaa'  # ← cambiá esto
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}
          package: app.zip